[
  {yaws, [
      {embedded, true}
    ]},
  {data_logger, [
      {data_dir, "data"},
      {binary, "csensor"},
      {start_yaws, true},
      {yaws_servername, "homerl"},
      {yaws_listen, {0,0,0,0}},
      {yaws_www_root, "www_root"},
      {yaws_id, "data_logger"},
      {yaws_port, 8000}
    ]},
  {sensor_directory, [
      {blacklisted_sensors, [11, 144, 255, 41, 67, 72]}
  ]},
  {lager, [
    {log_root, "log/"},
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "lager_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "lager_console.log"}, {level, info}]}
    ]}
  ]}
].
