[
  {data_logger, [
      {data_dir, "data"},
      {binary, "csensor"},
      {cowboy_port, 8000}
    ]},
  {sensor_directory, [
      {blacklisted_sensors, [11, 22, 41, 67, 72, 144, 255]}
  ]},
  {lager, [
    {log_root, "log/"},
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "lager_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "lager_console.log"}, {level, info}]}
    ]}
  ]}
].
