[
  {data_logger, [
      {data_dir, "data"},
      {binary, "csensor"},
      {cowboy_port, 8000}
    ]},
  {sensor_directory, [
      {whitelisted_sensors, [135]}
  ]},
  {lager, [
    {log_root, "log/"},
    {crash_log, "crash.log"},
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "lager_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "lager_console.log"}, {level, info}]}
    ]}
  ]}
].
